.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.post {
  font-family: NHaasGroteskDSPro-95Blk;
}

.helpReq {
  width: 250px;
  background-color: #9aa2f8;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #9470fc;
}

.helpSug {
  width: 250px;
  background-color: #62dfdf;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #13c7c8;
}

.post-title {
  margin: auto;
  position: relative;
  width: 100%;
  height: 15%;
  font-family: NHaasGroteskDSPro-95Blk;
  font-size: 30px;
  text-align: left;
  /*color: #9470fc;*/
}

.post-content {
  line-height: 1px;
}
