/*.geosuggest__suggests--hidden {*/
  /*max-height: 0;*/
  /*overflow: hidden;*/
  /*border-width: 0;*/
/*}*/

/*.geosuggest__item--active {*/
  /*background: #267dc0;*/
  /*color: #fff;*/
/*}*/

@font-face {
  font-family: titleFont;
  src: url("fonts/NHaasGroteskDSPro-95Blk.otf");
}

@font-face {
  font-family: secondFont;
  src: url("fonts/NHaasGroteskDSPro-65Md.otf");
}

@font-face {
  font-family: buttonFont;
  src: url("fonts/NHaasGroteskDSPro-75Bd.otf");
}

.post {
  /*font-family: firstFont;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*min-height: 10vh;*/
}

.helpReq {
  width: 250px;
  background-color: #9ca5f6;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #9470fc;
}

.helpSug {
  width: 250px;
  background-color: #62dfdf;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #13c7c8;
}

.post-title {
  margin: auto;
  position: relative;
  width: 100%;
  height: 15%;
  font-family: titleFont;
  font-size: 30px;
  text-align: left;
  /*color: #9470fc;*/
}

.post-content {
  font-family: secondFont;
}

.comment-button {
  width: 85px;
  height: 19px;
  font-family: buttonFont;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.in-button {
  width: 49.6px;
  height: 19px;
  font-family: buttonFont;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.buttons {
  width: 100%;
  /*height: 100%;*/
  position: center;
}

.helpReq .comment-button {
  background-color: #9470fc;
}

.helpReq .in-button {
  background-color: #9470fc;
}

/*.helpSug*/
